@model PagedList.IPagedList<RAPSimple.Models.Invite>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Мои приглашения</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@using (Html.BeginForm("Index", "Invite", FormMethod.Get))
{

    @*<p>
        Select Department: @Html.DropDownList("SelectedDepartment", "All")
        <input type="submit" value="Filter" />
    </p>*@
}

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.EventId)*@
            text1
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Status)*@
            text2
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Title)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Status)*@
                @Html.EditorFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })*@
            </td>
        </tr>
    }

</table>